%h3 Title
.markdown{ data: { 'field-id' => 'proposal_title' } }
  = proposal.title

%h3 Type of Talk
= proposal.talk_type

%h3 Abstract
.markdown{ data: { 'field-id' => 'proposal_abstract' } }
  = proposal.abstract

%h3 Details
.markdown{ data: { 'field-id' => 'proposal_details' } }
  = proposal.details

%h3 Pitch
.markdown{ data: { 'field-id' => 'proposal_pitch' } }
  =proposal.pitch

  - if proposal.custom_fields.any?
    - proposal.proposal_data[:custom_fields].select do |key,value|
      %h3= key.capitalize
      %div
      = value.capitalize
      %div

%h3 Twitter
= proposal.twitter_username

%h3 Talk Frequency
= proposal.talk_frequency

%h3 Speaker Experience
= proposal.speaker_experience
